html, body {
    margin: 0rem;
    background-color: black;
    color: white;
}
#contenido-header {
    column-gap: 2.5rem;
}
#container {
    font-size: 1.5rem;
}
#img0 {
    width: 5rem;
    height: auto;
}
#img1 {
    max-width: 100%;
}
#img2 {
    width: 8rem;
}
#titulo {
    padding: 0.9rem;
    font-size: 3rem;
}